In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

In [49]:
crime= pd.read_csv('Crimes_-_2001_to_Present.csv')
crime= crime[["Primary Type", "Description", "Location Description", "Arrest", "Domestic", "Year","Community Area"]]
crime.dropna(inplace=True)
public= pd.read_csv('Public_Health_Statistics-_Selected_public_health_indicators_by_Chicago_community_area.csv')
total = pd.merge(public, crime, on='Community Area')

In [41]:
public

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Childhood Lead Poisoning,Gonorrhea in Females,Gonorrhea in Males,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,0.5,322.5,423.3,11.4,22.7,7.9,28.8,18.1,23714,7.5
1,2,West Ridge,17.3,83.3,8.1,71.1,8.3,29.9,5.8,20.2,...,1.0,141.0,205.7,8.9,15.1,7.0,38.3,19.6,21375,7.9
2,3,Uptown,13.1,50.5,8.3,77.7,10.3,35.1,5.4,21.3,...,0.5,170.8,468.7,13.6,22.7,4.6,22.2,13.6,32355,7.7
3,4,Lincoln Square,17.1,61.0,8.1,80.5,9.7,38.4,5.0,21.7,...,0.4,98.8,195.5,8.5,9.5,3.1,25.6,12.5,35503,6.8
4,5,North Center,22.4,76.2,9.1,80.4,9.8,8.4,1.0,16.6,...,0.9,85.4,188.6,1.9,7.1,0.2,25.5,5.4,51615,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Washington Heights,12.0,61.0,19.6,75.4,16.2,65.0,38.0,47.9,...,1.5,1298.2,1274.2,3.0,15.7,1.1,42.4,15.6,19709,18.3
73,74,Mount Greenwood,12.5,59.0,8.4,94.5,15.1,7.7,2.2,34.6,...,0.0,NaN,.,0.0,3.1,1.1,37.0,4.5,34221,6.9
74,75,Morgan Park,13.2,67.5,10.6,74.5,12.3,46.7,19.9,32.4,...,1.3,800.5,741.1,2.6,13.7,0.8,39.4,10.9,26185,14.9
75,76,O'Hare,15.8,70.0,3.5,82.0,5.0,15.9,5.6,20.5,...,0.5,NaN,.,6.3,9.5,1.9,26.5,11.0,29402,4.7
76,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,0.9,120.1,427.5,10.5,16.6,3.9,23.4,9.0,33364,9.0

In [51]:
crime

,Primary Type,Description,Location Description,Arrest,Domestic,Year,Community Area
0,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2001.0,45.0
1,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,2017.0,73.0
2,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,2017.0,70.0
3,THEFT,OVER $500,RESIDENCE,False,False,2017.0,42.0
4,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,2017.0,32.0
...,...,...,...,...,...,...,...
1013523,CRIMINAL TRESPASS,TO RESIDENCE,RESIDENCE,False,False,2017.0,33.0
1013524,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,RESIDENCE,True,False,2017.0,19.0
1013525,OTHER OFFENSE,TELEPHONE THREAT,APARTMENT,False,True,2017.0,30.0
1013526,BURGLARY,FORCIBLE ENTRY,RESIDENCE,False,False,2017.0,29.0
1013527,CRIMINAL DAMAGE,TO VEHICLE,RESIDENTIAL YARD (FRONT/BACK),False,False,2017.0,6.0

In [50]:
total

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Dependency,No High School Diploma,Per Capita Income,Unemployment,Primary Type,Description,Location Description,Arrest,Domestic,Year
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,THEFT,$500 AND UNDER,SIDEWALK,False,False,2017.0
1,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,2017.0
2,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,THEFT,FROM BUILDING,APARTMENT,False,False,2017.0
3,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,CRIMINAL SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,False,2017.0
4,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,ASSAULT,SIMPLE,OTHER,False,False,2007.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998706,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,2017.0
998707,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,THEFT,POCKET-PICKING,BAR OR TAVERN,False,False,2017.0
998708,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,THEFT,FROM BUILDING,RESIDENCE,False,False,2017.0
998709,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,2017.0
998710,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,CRIMINAL DAMAGE,TO VEHICLE,OTHER,False,False,2017.0

In [59]:
y = total[(total["Year"]==2005)]
y

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Dependency,No High School Diploma,Per Capita Income,Unemployment,Primary Type,Description,Location Description,Arrest,Domestic,Year
59,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,CRIMINAL DAMAGE,TO VEHICLE,POLICE FACILITY/VEH PARKING LOT,False,False,2005.0
60,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,CRIMINAL TRESPASS,TO RESIDENCE,NURSING HOME/RETIREMENT HOME,False,False,2005.0
63,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,2005.0
65,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,NARCOTICS,FOUND SUSPECT NARCOTICS,POLICE FACILITY/VEH PARKING LOT,True,False,2005.0
96,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,APARTMENT,False,True,2005.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992751,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,BATTERY,SIMPLE,STREET,False,False,2005.0
992752,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,BATTERY,SIMPLE,STREET,True,False,2005.0
992753,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,ROBBERY,AGGRAVATED,GAS STATION,False,False,2005.0
992754,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,ASSAULT,SIMPLE,OTHER,True,False,2005.0
992755,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,ASSAULT,SIMPLE,OTHER,False,False,2005.0

In [62]:
cleaned = total[(total.Year >= 2005) & (total.Year <= 2011)]
cleaned

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Dependency,No High School Diploma,Per Capita Income,Unemployment,Primary Type,Description,Location Description,Arrest,Domestic,Year
4,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,ASSAULT,SIMPLE,OTHER,False,False,2007.0
9,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,2009.0
16,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,2008.0
17,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,2011.0
19,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,28.8,18.1,23714,7.5,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,APARTMENT,False,False,2009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992823,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,THEFT,$500 AND UNDER,STREET,False,False,2011.0
992824,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,THEFT,$500 AND UNDER,STREET,False,False,2011.0
992825,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,THEFT,FROM BUILDING,APARTMENT,False,False,2011.0
993063,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2010.0
993657,77,Edgewater,12.1,48.1,7.5,76.1,7.4,15.1,5.8,18.5,...,23.4,9.0,33364,9.0,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,2010.0